.ask {
  height: 533px;
  background: #F0F2F9;
  box-shadow: 0 -4px 16px -12px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.askLeftSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.askTitle {
  color: #05101B;
  font-family: var(--font-inter);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 539px;
}

.askDescription {
  color: #000;
  font-family: var(--font-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.askRightSide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.talkToJoanButton {
  position: absolute;
}

.about {
  margin: 140px 0 213px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.aboutTitle {
  color: #05101B;
  font-family: var(--font-inter);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.infoCards {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 523px;
}

.tryItYourselfButton {
  margin-top: 40px;
}

.aboutLeftImage {
  position: absolute;
  left: -130px;
  top: 280px;
}

.aboutRightImage {
  position: absolute;
  right: -130px;
  top: 280px;
}

.team {
  background: #F0F2F9;
  box-shadow: 0 -4px 16px -12px rgba(0, 0, 0, 0.25) inset;
  padding: 180px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamTitle {
  color: #05101B;
  font-family: var(--font-inter);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.teamCards {
  display: flex;
  gap: 48px;
  margin-top: 40px;
  position: relative;
}

.teamCard {
  z-index: 10;
}

.getInTouchButton {
  margin-top: 40px;
}

.teamLeftImage {
  position: absolute;
  left: -100px;
  top: 110px;
  z-index: 1;
}

.teamRightImage {
  position: absolute;
  right: -105px;
  top: -130px;
  z-index: 1;
}

.email {
  height: 371px;
  background: #0F0A24;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.emailTitle {
  color: #FFF;
  font-family: var(--font-inter);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.emailInputs {
  display: flex;
  align-items: center;
  position: relative;
  width: 450px;
}

.emailInput {
  padding-right: 190px !important;
}

.joinWaitlistButton {
  position: absolute;
  right: 0;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 140px 0;
  position: relative;
}

.questionsTitle {
  color: #05101B;
  font-family: var(--font-inter);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.accordions {
  width: 800px;
  z-index: 20;
}

.questionsLeftImage {
  position: absolute;
  left: -180px;
  top: 160px;
}

.questionsRightImage {
  position: absolute;
  right: -170px;
  top: 90px;
}